@charset "UTF-8";
:root {
  --main-bgrnd-color: #ffffff;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --text-color-on-drk-bgrd: #ffffff;
  --drk-bgrd-color: #2f303a;
  --cards-border-color: #eeeeee;
  --duration-cubic: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--main-bgrnd-color);
}

/* Приберає зайві маржини і падінги в текстових блоках*/
h1, h2, h3, h4, p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Приберає підкреслення з лінків*/
.links {
  text-decoration: none;
}

/* Приберає крапки в списках та падинги */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Приберає margin знизу картинки */
img {
  display: block;
}

button {
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--text-color-on-drk-bgrd);
  border-radius: 4px;
  transition: opacity var(--duration-cubic), transform var(--duration-cubic), box-shadow var(--duration-cubic);
}
.button:hover, .button:focus {
  opacity: 0.95;
  transform: translate(-1px, -1px);
  box-shadow: 4px 4px 4px rgba(125, 125, 125, 0.5);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  transition: text-shadow var(--duration-cubic);
}
.logo:hover, .logo:focus {
  text-shadow: 0px 0px 10px rgba(125, 125, 125, 0.5);
}

.logo_black {
  color: var(--secondary-text-color);
}

/* Доповнює стилізацію нижнього логотипа */
.logo_white {
  color: var(--text-color-on-drk-bgrd);
}

.section-title {
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  margin-bottom: 50px;
}

/* Стилізація бекдропа модального вікна */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: opacity var(--duration-cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* Стилізація модального вікна */
.modal-window {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: var(--main-bgrnd-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--duration-cubic);
}
.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(1.5);
}

.close-but {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  background-color: var(--main-bgrnd-color);
  color: var(--secondary-text-color);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-cros {
  transition: fill var(--duration-cubic);
}
.close-but:hover .icon-cros, .close-but:focus .icon-cros {
  fill: var(--accent-color);
}

/* Стилізація форми модального вікна */
.modal-form {
  width: 528px;
  /* height: 581px; */
  padding: 40px;
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 12px;
}

.label-user {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-user {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  transition: border var(--duration-cubic);
}
.input-user:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  pointer-events: none;
  transition: fill var(--duration-cubic);
}
.input-user:focus + .icons {
  fill: var(--accent-color);
}

.input-wraper {
  position: relative;
  margin-bottom: 10px;
}

.input-user-coment {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  transition: border var(--duration-cubic);
}
.input-user-coment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.input-user-coment:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.chek-box-wrap {
  padding: 0;
  border: none;
  margin-bottom: 30px;
}

.user-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contract-link {
  color: var(--accent-color);
  transition: text-shadow var(--duration-cubic);
}
.contract-link:hover, .contract-link:focus {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.custom-check {
  width: 16px;
  height: 15px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 2px;
  margin-right: 8px;
}
.check-box:checked + .custom-check {
  background-color: var(--accent-color);
  border: none;
}
.check-box:focus + .custom-check {
  border-color: var(--accent-color);
}

.send-form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Стилізація капелюха */
.header {
  border-bottom: 1px solid #ECECEC;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list__link.current::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: 0%;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation .logo {
  margin-right: 93px;
}

.menu-list {
  display: flex;
}

.menu-list__item:not(:last-child) {
  margin-right: 30px;
}

.menu-list__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--duration-cubic), text-shadow var(--duration-cubic);
}
.menu-list__link:hover, .menu-list__link:focus {
  color: var(--accent-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-list__link.current {
  color: var(--accent-color);
}

/* Стилізація контактів в капелюсі */
.contact-list {
  display: flex;
}
.contact-list .contact-list__item:not(:last-child) {
  margin-right: 30px;
}

.smartphone,
.letter {
  fill: currentColor;
  transition: box-shadow var(--duration-cubic);
}

.header-contact {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--duration-cubic), text-shadow var(--duration-cubic);
}
.header-contact:hover, .header-contact:focus {
  color: var(--accent-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-contact:hover .smartphone, .header-contact:focus .smartphone {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-contact:hover .letter, .header-contact:focus .letter {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero {
  background-color: var(--drk-bgrd-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bgrnd-img.jpg);
  max-width: 1600px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--text-color-on-drk-bgrd);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.benefits {
  padding-bottom: 0px;
}

.benefits__list {
  display: flex;
  justify-content: space-between;
}

.benefits__title {
  color: var(--secondary-text-color);
  font-size: 1em;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits__item {
  width: calc((100% - 90px) / 4);
}
.benefits__item::before {
  content: "";
  display: block;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
  background-repeat: no-repeat;
  background-position: center;
}

/* Додаю іконки в розділ переваги */
.icon-antenna::before {
  background-image: url(../images/svg/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/svg/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/svg/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/svg/astronaut.svg);
}

.what-we-do-list {
  display: flex;
  justify-content: space-between;
}

.what-we-do-list__item {
  position: relative;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.what-we-do-list__description {
  position: absolute;
  display: block;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  line-height: 1.14;
  font-weight: 700;
  color: var(--text-color-on-drk-bgrd);
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
}

.team-list__item {
  background-color: var(--main-bgrnd-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.position-wrapper {
  padding-bottom: 30px;
  padding-top: 30px;
}

.name-position {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  margin-bottom: 10px;
}

.position {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  margin-bottom: 16px;
}

.social-icon {
  fill: currentColor;
}

.social-item__link {
  color: #afb1b8;
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: color var(--duration-cubic), background-color var(--duration-cubic);
}
.social-item__link:hover, .social-item__link:focus {
  background-color: var(--accent-color);
  color: var(--text-color-on-drk-bgrd);
}

.social-set {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.item-client_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  transition: box-shadow var(--duration-cubic), border-color var(--duration-cubic), color var(--duration-cubic);
}
.item-client_link:hover, .item-client_link:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.client-icon {
  fill: currentColor;
}

.footer {
  background-color: var(--drk-bgrd-color);
  padding: 60px 0;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer .wrapper-adrs {
  margin-right: 70px;
}

/* ===== стилізація адресного блоку ===== */
.adrs-item:not(:last-child) {
  margin-bottom: 9px;
}

.adrs-list__link {
  font-style: normal;
  color: var(--text-color-on-drk-bgrd);
  transition: color var(--duration-cubic);
}
.adrs-list__link:hover, .adrs-list__link:focus {
  color: var(--accent-color);
}

.adrs-list__mail {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--duration-cubic);
}
.adrs-list__mail:hover, .adrs-list__mail:focus {
  color: var(--accent-color);
}

.adrs-list__tel {
  /* display: inline-block; */
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--duration-cubic);
}
.adrs-list__tel:hover, .adrs-list__tel:focus {
  color: var(--accent-color);
}

/* === Стилізація блока соцмереж === */
.social-set-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-on-drk-bgrd);
  margin-bottom: 20px;
}

/* === Стилізація іконок соцмереж === */
.social-set {
  display: flex;
  gap: 10px;
}

.footer .social-item__link {
  display: flex;
  height: 44px;
  width: 44px;
  background-color: rgb(68, 69, 78);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color var(--duration-cubic);
}

.footer .social-item__link:hover, .footer .social-item__link:focus {
  background-color: rgb(29, 155, 240);
  /* колір твітера (як що прибрати нижні ховери і поставити колір акцент буде по макету*/
}
.footer .instagram:hover,
.footer .instagram:focus {
  background-color: rgba(68, 69, 78, 0);
}
.footer .facebook:hover,
.footer .facebook:focus {
  background-color: rgba(68, 69, 78, 0);
}
.footer .youtube:hover,
.footer .youtube:focus {
  background-color: red;
}
.footer .linkedin:hover,
.footer .linkedin:focus {
  background-color: #0a66c2;
}

.instagram-wraper {
  border-radius: 50%;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.facebook-wraper {
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #19aefe, #0062e0);
}

.wrapper-social .social-icon {
  fill: var(--text-color-on-drk-bgrd);
}

/* ====== стилізація форми підписки ===== */
.signup-form {
  margin-left: auto;
}

.label-name {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--text-color-on-drk-bgrd);
}

.user-email-input {
  display: inline-block;
  margin-right: 12px;
  height: 50px;
  width: 358px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-color-on-drk-bgrd);
  padding-left: 16px;
  padding-right: 16px;
}
.user-email-input:focus-within {
  border: 1px solid var(--accent-color);
  outline: none;
}
.user-email-input::placeholder {
  font-family: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.icon-send {
  margin-left: 10px;
}

/* Стилізація кнопок вибору категорії */
.set-categories {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.set-categories_item:not(:last-child) {
  margin-right: 8px;
}

.categories-but {
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--secondary-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color var(--duration-cubic), background-color var(--duration-cubic), box-shadow var(--duration-cubic);
}
.categories-but.current {
  color: var(--text-color-on-drk-bgrd);
  background-color: var(--accent-color);
}
.categories-but:hover, .categories-but:focus {
  color: var(--text-color-on-drk-bgrd);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ========= Стилізація галереї ========== */
.project-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.project-card {
  margin: 15px;
}

.img-project {
  position: relative;
  overflow: hidden;
}

.project-card_link {
  display: block;
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow var(--duration-cubic);
}
.project-card_link:hover, .project-card_link:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.project-card_link:hover .hoverer-overlay, .project-card_link:focus .hoverer-overlay {
  transform: translateY(0%);
}

.hoverer-overlay {
  position: absolute;
  background-color: var(--accent-color);
  opacity: 0.9;
  width: 100%;
  height: 100%;
  bottom: 0;
  transform: translateY(100%);
  transition: transform var(--duration-cubic);
}

.overlay-text {
  display: block;
  color: var(--text-color-on-drk-bgrd);
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
}

.project-card_box {
  border-left: 1px solid var(--cards-border-color);
  border-right: 1px solid var(--cards-border-color);
  border-bottom: 1px solid var(--cards-border-color);
  padding: 20px 24px;
  border-radius: 0px 0px 4px 4px;
}

.name-project {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}/*# sourceMappingURL=main.css.map */