.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px; 
}

@media screen and (max-width:480px ) {
  .item-client {
   width: calc( ( 100% - 30px ) / 2 );
  
  }
}

.item-client_link {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 100%;
  @media screen and (min-width:480px ) {
    width: 210px;
  }
  @media screen and (min-width:768px ) {
    width: 226px;
  }
  @media screen and (min-width:1200px ) {
    width: 170px;
  }
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  transition: box-shadow var(--duration-cubic),
              border-color var(--duration-cubic),
              color var(--duration-cubic);

  &:hover,
  &:focus{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
     0px 1px 1px rgba(0, 0, 0, 0.14),
     0px 2px 1px rgba(0, 0, 0, 0.2);
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}

.client-icon {
  fill: currentColor;
}
