.footer {
  background-color: var(--drk-bgrd-color);
  padding: 60px 0;

  .container {
    display: flex;
    align-items: baseline;
  }

  
  .logo {
    display: inline-block;
    margin-bottom: 20px;
  }

  .wrapper-adrs {
    margin-right: 70px;
  }
}

/* ===== стилізація адресного блоку ===== */

.adrs-item{
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.adrs-list__link {
  // display: inline-block;
  font-style: normal;
  color: var(--text-color-on-drk-bgrd);
  transition: color var(--duration-cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  } 
}


.adrs-list__mail {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--duration-cubic);

  &:hover,
  &:focus {
  color: var(--accent-color);
  }
}



.adrs-list__tel {
  /* display: inline-block; */
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--duration-cubic);

  &:hover,
  &:focus {
  color: var(--accent-color);
  }
}

/* === Стилізація блока соцмереж === */

.social-set-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-on-drk-bgrd);
  margin-bottom: 20px;
}

/* === Стилізація іконок соцмереж === */

.social-set {
  display: flex;
  gap: 10px;
}

.footer {
  .social-item__link {
    display: flex;
    height: 44px;
    width: 44px;
    background-color: rgba(68, 69, 78, 1);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color var(--duration-cubic);
  }
}


.footer{
  .social-item__link{
    &:hover,
    &:focus {
      background-color: rgb(29 155 240);  
      /* колір твітера (як що прибрати нижні ховери і поставити колір акцент буде по макету*/
    }
  }
  .instagram:hover,
  .instagram:focus {
    background-color: rgba(68, 69, 78, 0.0);  
  }
  .facebook:hover,
  .facebook:focus {
    background-color: rgba(68, 69, 78, 0.0);  
  }
  .youtube:hover,
  .youtube:focus {
    background-color: red;  
  }
  .linkedin:hover,
  .linkedin:focus {
    background-color: #0a66c2;  
  }
} 


.instagram-wraper {
  border-radius: 50%;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.facebook-wraper {
  border-radius: 50%;
  background-image:linear-gradient(to bottom, #19aefe, #0062e0);
}

.wrapper-social {
  .social-icon {
    fill: var(--text-color-on-drk-bgrd);
  }
}

 /* ====== стилізація форми підписки ===== */

.signup-form {
  margin-left: auto;
}

.label-name {
  display:block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: calc(16/14);
  text-transform: uppercase;
  color: var(--text-color-on-drk-bgrd);
}

.user-email-input {
  display: inline-block;
  margin-right: 12px;
  height: 50px;
  width: 358px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-color-on-drk-bgrd);
  padding-left: 16px;
  padding-right: 16px;

  &:focus-within {
  border: 1px solid var(--accent-color);
  outline: none;
  }

  &::placeholder {
  font-family: inherit;
  color: rgba(255, 255, 255, 0.6);
  }

}

.icon-send {margin-left: 10px; }


