/* Стилізація кнопок вибору категорії */

.set-categories {
  display: flex;
  justify-content:center;
  margin-bottom: 50px;
}

.set-categories_item{
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.categories-but {
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--secondary-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;

  transition: color var(--duration-cubic),
    background-color var(--duration-cubic), 
    box-shadow var(--duration-cubic);

  &.current {
    color: var(--text-color-on-drk-bgrd);
    background-color: var(--accent-color);
  }

  &:hover,
  &:focus {
    color: var(--text-color-on-drk-bgrd);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
      0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}


/* ========= Стилізація галереї ========== */

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}


.project-card {
  margin: 15px;
}

.img-project {
  position: relative;
  overflow: hidden;
}

.project-card_link {
  display: block;
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow var(--duration-cubic);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    .hoverer-overlay { 
        transform: translateY(0%);
    }
  } 
}



.hoverer-overlay {
  position: absolute;
  background-color: var(--accent-color);
  opacity: 0.9;
  width: 100%;
  height: 100%;
  bottom: 0;

  transform: translateY(100%);
  transition: transform var(--duration-cubic);
}

.overlay-text {
  display: block;
  color: var(--text-color-on-drk-bgrd);
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
}


.project-card_box {
  border-left: 1px solid var(--cards-border-color);
  border-right: 1px solid var(--cards-border-color);
  border-bottom: 1px solid var(--cards-border-color);
  padding: 20px 24px;
  border-radius: 0px 0px 4px 4px; 
}

.name-project {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}