.team {
  background-color: #f5f4fa;
}

.team-list__item {
  background-color: var(--main-bgrnd-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list {
 display: flex;
 justify-content: space-between;
  
}

.position-wrapper {
  padding-bottom: 30px;
  padding-top: 30px;
}


.name-position {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  margin-bottom: 10px;
}

.position {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  margin-bottom: 16px;
}


.social-icon {
 fill: currentColor;
}

.social-item__link {
  color: #afb1b8;
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: color var(--duration-cubic),
  background-color var(--duration-cubic);

  &:hover,
  &:focus {
    background-color: var(--accent-color); 
    color: var(--text-color-on-drk-bgrd); 
  }
}
 
.social-set {
  display: flex;
  justify-content: center;
  gap: 10px;
}  
  