:root {
  --main-bgrnd-color: #ffffff;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --text-color-on-drk-bgrd: #ffffff;
  --drk-bgrd-color: #2f303a;
  --cards-border-color: #eeeeee;
  --duration-cubic: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
